.sidebar-logo {
height: 5%;
}

.sidebar-link {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

.sidebar-link-wrap {
    width: 90%;
}

.sidebar-link:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 5px;
}

#profile {
    position: fixed;
    bottom: 10px;

}

#istorii {
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(188, 187, 187);
    border-radius: 10px;
    width: 75%;
    height: 70px;
}

#body {
    background-color: rgb(243, 243, 243);
} 

#leva {
    background-color: white;

}


.istoria {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 50%;
    margin: 7px 5px 5px 0px;    
}

#pfp1 {
    border-radius: 50%;
    margin: 5px;
}



.post{
    border: 1px solid rgb(188, 187, 187);
    border-radius: 10px; 

}

.knopki {
    color: black;
}

.knopki:hover {
    color:grey;
}

.comment-input {
    width: 25%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}